<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhoadster91.raincheque"
    android:versionCode="2"
    android:versionName="1.0">
	<uses-permission android:name="android.permission.READ_CONTACTS"/>       
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
         android:launchMode="singleInstance"
        android:name="com.rhoadster91.raincheque.RainChequeApplication">  
        
        
        <activity
            android:name="com.rhoadster91.raincheque.SplashActivity"
            android:label="@string/app_name" 
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rhoadster91.raincheque.ListOfParticipantsActivity" />
        <activity android:name="com.rhoadster91.raincheque.LogActivity" />
        <activity android:name="com.rhoadster91.raincheque.SuggestionActivity" />
        <activity android:name="com.rhoadster91.raincheque.PaymentActivity" />
        <activity android:name="com.rhoadster91.raincheque.ControlBoardActivity" android:label="@string/import_file_to_raincheque" 
            >
            <intent-filter>
        <action android:name="android.intent.action.VIEW" />      
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="content" android:pathPattern=".*\\.rcs" />
        <data android:mimeType="application/octet-stream" />
              
    </intent-filter>
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />      
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:mimeType="text/*" />
        <data android:scheme="file" />
        <data android:pathPattern=".*\\.rcs" />
        <data android:host="*" />
    </intent-filter>    
            </activity>
            <activity android:name="com.rhoadster91.raincheque.ActivityActivity" />
        <activity android:name="com.rhoadster91.raincheque.SessionActivity" />
    </application>

</manifest>